MAILTO=skaji@outlook.com
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/home/skaji
USER=skaji
0 5 * * * ~/src/github.com/skaji/slack-perl6-evalbot/misc/crontab.sh
