MAILTO=skaji@outlook.com
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/home/skaji
USER=skaji
0 5 * * * cd ~/src/github.com/shoichikaji/slack-perl6-evalbot/crontab.sh
